services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: prreview
      POSTGRES_USER: prreview
      POSTGRES_PASSWORD: prreview
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    depends_on:
      - db
    environment:
      POSTGRES_DB: prreview
      POSTGRES_USER: prreview
      POSTGRES_PASSWORD: prreview
      POSTGRES_HOST: db
      DJANGO_SECRET_KEY: "django-insecure-cq^ri-e7&ym9!fgt-ksr=1fey!7eefc0q&p-hgz6)t$1fu%ijt"
      DJANGO_DEBUG: "0"
    ports:
      - "8080:8080"
    volumes:
      - .:/app

volumes:
  postgres_data: